[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pymongo = "==3.10.1"
requests = "==2.23.0"
passlib = "==1.7.2"
Flask = "==1.1.1"
jinja2 = "==3.0.0a1"
idna = "==2.9"
urllib3 = "==1.25.8"
flask-login = "*"
flask-loginmanager = "*"
flask-wtf = "*"

[requires]
python_version = "3.7"
