Flask==1.1.1
Flask-Login==0.5.0
Flask-LoginManager==1.1.6
Flask-WTF==0.14.3
Jinga2==3.0.0a1
MarkupSafe==1.1.1
WTForms==2.2.1
Werkzeug==1.0.0
certifi==2019.11.28
chardet==3.0.4
click==7.1.1
idna==2.9
itsdangerous==1.1.0
pymongo==3.10.1
requests==2.23.0
passlib==1.7.2
urllib3==1.25.8
