<nav class="navigation-loggedin w3-bar w3-teal">
        <div class="nav-wrapper left-nav">
        <a href="{{ url_for('main.home') }}" class="w3-bar-item w3-button w3-large w3-mobile">Home</a>
        <div class="w3-dropdown-hover w3-mobile">
            <button class="w3-button">UK Lottery <i class="fa fa-caret-down"></i></button>
            <div class="w3-dropdown-content w3-bar-block w3-dark-grey">
                <a href="{{ url_for('lottery.lotto') }}" class="w3-bar-item w3-button w3-mobile">National Lottery</a>
                <a href="{{ url_for('lottery.euro') }}" class="w3-bar-item w3-button w3-mobile">Euromillions</a>
                <a href="{{ url_for('lottery.s4l') }}" class="w3-bar-item w3-button w3-mobile">Set for Life</a>
                <a href="{{ url_for('lottery.thunder') }}" class="w3-bar-item w3-button w3-mobile">Thunderball</a>
                <a href="{{ url_for('lottery.lottoHP') }}" class="w3-bar-item w3-button w3-mobile">National Lottery Hotpicks</a>
                <a href="{{ url_for('lottery.euroHP') }}" class="w3-bar-item w3-button w3-mobile">Euromillions Hotpicks</a>
            </div>
        </div>
        <div class="w3-dropdown-hover w3-mobile">
            <button class="w3-button">Passwords <i class="fa fa-caret-down"></i></button>
            <div class="w3-dropdown-content w3-bar-block w3-dark-grey">
                <a href="{{ url_for('password.random') }}" class="w3-bar-item w3-button w3-mobile">Random Generated</a>
                <a href="{{ url_for('password.words') }}" class="w3-bar-item w3-button w3-mobile">Word Generated</a>
            </div>
        </div>
        <div class="w3-dropdown-hover w3-mobile">
            <button class="w3-button">Converters <i class="fa fa-caret-down"></i></button>
            <div class="w3-dropdown-content w3-bar-block w3-dark-grey">
                <a href="{{ url_for('convert.temps') }}" class="w3-bar-item w3-button w3-mobile">Temperature</a>
                <a href="{{ url_for('convert.weights') }}" class="w3-bar-item w3-button w3-mobile">Weights</a>
                <a href="{{ url_for('convert.measurement') }}" class="w3-bar-item w3-button w3-mobile">Measurement</a>
            </div>
        </div>
        <div class="w3-dropdown-hover w3-mobile">
            <button class="w3-button">Quizzes <i class="fa fa-caret-down"></i></button>
            <div class="w3-dropdown-content w3-bar-block w3-dark-grey">
                <a href="{{ url_for('quiz.lpic1') }}" class="w3-bar-item w3-button w3-mobile">LPIC-1</a>
                <a href="{{ url_for('quiz.lpic2') }}" class="w3-bar-item w3-button w3-mobile">LPIC-2</a>
                <a href="{{ url_for('quiz.lpic3') }}" class="w3-bar-item w3-button w3-mobile">LPIC-3</a>
            </div>
        </div>
        <a href="{{ url_for('blog.blog') }}" class="w3-bar-item w3-button w3-large w3-mobile">Blog</a>
        <a href="{{ url_for('main.about') }}" class="w3-bar-item w3-button w3-large w3-mobile">About</a>
    </div>
    <div class="w3-right">
      <a href="{{ url_for('users.logout') }}" class="w3-bar-item w3-button w3-large w3-right w3-mobile">Log out</a>
    </div>
</nav>
